@charset "utf-8";

/*/////////////////////////
// Box
/////////////////////////*/

	/* Position, Display, Width, Height, Background etc. */
		
		/* Reset */
		
			html,
			body,
		
			div,
			
			ul,
			ol,
			dl,
			
			li,
			
			dt,
			dd,
			
			hr,
			
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			
			form,
			
			fieldset,
			legend,
			
			label,
			
			input,
			button,
			select,
			option,
			textarea,		
			p,
			a,
			
			img,
			
			blockquote,
			
			table,
			caption,
			thead,
			tbody,
			tfoot,
			tr,	
			th,
			td
			{
				margin: 0px;
				padding: 0px;
				outline: 0px;
				border: 0px;
				
				background-color: transparent;
				background-image: none;
			}
		
		html,			
		body
		{
			background-color: #FFFFFF;
			background-image: none;
		}
		
		hr
		{
			display: block;			
			height: 1px;			
			background-color: #EEEEEE;
			
			margin: 0 20px;
		}
		
		ul,
		ol
		{
			list-style-position: outside;
			
			padding: 5px;
			padding-left: 10px;
		}
				
		dl
		{
			padding: 5px;
		}
		
		li
		{
			margin-left: 10px;
		}
		
		dd
		{
			padding-left: 10px;
		}
		
		table
		{
			table-layout: auto;
			empty-cells: show;			
			caption-side: top;
			
			/* Remove cell spacing */
			border-collapse: separate;
			border-spacing: 1px;
		}
		
		th
		{
			vertical-align: middle;
		}
		
		td
		{
			vertical-align: middle;
		}
		
		th,
		td
		{
			border-radius: 2px;
		}
		
		img
		{
			vertical-align: bottom;
		}
		
		label
		{
			display: inline;
		}
		
		p
		{
			padding-top: 4px;
			padding-bottom: 4px;
		}
		
		blockquote,
		q
		{
			background-color: #FFFAF1;
		}
		
		blockquote
		{
			padding: 3px;
			padding-left: 6px;
			
			border: 1px dashed #ECE4D7;
		}
		
		fieldset
		{
			border-width: 1px solid #EEEEEE;
			
			display: block;
		}
		
		form
		{
			position: relative;
		}
		
		input,
		button,
		textarea
		{
			padding: 4px 3px;
		}
		
		input[type="file"]
		{
			border-width: 0px solid #EEEEEE;
		}
		
		
		select,
		option
		{
			background-color: transparent;
			background-image: none;
		}
		
		option
		{
			padding: 5px;
		}
								
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		button
		{			
			background-color: #68BD2A;
						
			padding: 6px 5px;
			
			padding-left: 12px;
			padding-right: 12px;
			
			/* IE */
			overflow: visible;
			
			border-width: 3px solid #CCCCCC;
		}
		
		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		input[type="button"]:focus,
		input[type="submit"]:focus,
		input[type="reset"]:focus,
		button:focus
		{
			background-color: #60A62E;
		}
		
		/* Button */
								
			/* Extra */
			
			blockquote
			{
				border-radius: 8px;				
			}
						
			input,
			select,
			option,
			textarea
			{
				border-radius: 4px;	
			}
							
			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button
			{
				border-radius: 10px;		
			}
			
		
		

/*/////////////////////////
// Text
/////////////////////////*/

	body
	{
		/*
		62.5% equals 10px
		68.75% equals 11px
		*/
		font-size: 68.75%;
		line-height: 1.2em;
		
		font-family: Tahoma, Verdana, Arial, Helvetica, Arial, Garuda, Geneva, sans-serif;
		
		color: #444444;
		
		direction: ltr;	
	}
	
	pre,
	
	div,
	span,
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	
	form,
	fieldset,
	legend,
	label,
	input,
	button,
	textarea,
	select,
	
	table,
	caption,
	thead,
	tbody,
	tfoot,
	tr,
	th,
	td
	{
		font-size: 1em;
		line-height: 1.45em;
	}
	
	body,
	
	pre,
	
	div,
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	
	form,
	fieldset,
	legend,
	label,
	input,
	button,
	textarea,
	select,
	
	caption,
	th,
	td
	{
		font-family: Tahoma, Verdana, Arial, Helvetica, Garuda, Geneva, sans-serif;
		
		text-align: left;
		
		text-decoration: none;
		text-transform: none;
			
		font-style: normal;	
		font-variant: normal;
		font-weight: normal;
		
		text-indent: 0;
	}
	

	/* Headings */
	
		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{
			font-weight: bold;
		}
		
		
		h1
		{
			font-size: 2.8em;
		}
		
		h2
		{
			font-size: 2em;
		}
		
		h3
		{
			font-size: 1.6em;
		}
		
		h4,
		h5,
		h6
		{
			font-size: 1.3em;
		}
		
	/* Horizontal Ruler */
	
		hr
		{
			color: #EEEEEE;
			
			font-size: 0;
			line-height: 0;
		}

	/* Input */
		
		input[type="text"],
		input[type="password"],
		input[type="file"],
		textarea,
		select
		{
			color: #0373f0;
			
			font-size: 1.2em;
		}
		
		select,
		option
		{
			vertical-align: middle;
		}
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		button
		{
			text-align: center;
			
			font-size: 1.6em;
			
			letter-spacing: 1px;
			
			color: #FFFFFF;
		}
		
		input[type="button"] img,
		input[type="submit"] img,
		input[type="reset"] img,
		button img
		{	
			text-decoration: none;
			
			vertical-align: middle;
			
			margin-right: 4px;
			
			margin-bottom: 2px;
		}
		
	/* Quote */
	
		blockquote,
		q
		{
			color: #410300;
		}

	/* Bold / Strong */
	
		b,
		strong
		{
			font-weight: bold;
		}

	/* Italic / Emphasized */
	
		i,
		em
		{
			font-style: italic;
		}

	/* Underlined / Inserted */
	
		u,
		ins
		{
			text-decoration: underline;	
		}

	/* Striked-Through / Deleted */
	
		striked,
		del
		{
			text-decoration: line-through;	
		}

	/* Super- & Subscript */
	
		sub
		{
			font-size: 80%;
			vertical-align: sub;
			font-weight: bold;
		}
		
		sup
		{
			font-size: 80%;
			vertical-align: super;
			font-weight: bold;
		}

	/* Definition */
		
		dt
		{
			text-decoration: underline;
		}
		
		dd
		{
			color: #666666;
		}

	/* Acronym / Abbreviation */
	
		acronym,
		abbr
		{
			border-bottom: 1px dashed #999999;			
		}

	/* Headings */
		
		legend,
		caption,
		th
		{
			text-align: center;
			
			font-weight: bold;
		}

	/* Links */
	
		a,
		a:link,
		a:visited,
		a:hover,
		a:active,
		a:focus
		{
			text-decoration: none;
			
			color: #0373F0;
		}
		
		a:hover,
		a:active,
		a:focus
		{
			text-decoration: underline;
		}
		
		a.invisible,
		a.invisible:link,
		a.invisible:visited,
		a.invisible:hover,
		a.invisible:active,
		a.invisible:focus
		{
			text-decoration: none;
		}
				
		a img,
		a:link img,
		a:visited img,
		a:hover img,
		a:active img,
		a:focus img
		{	
			text-decoration: none;
			
			vertical-align: middle;
			
			margin-right: 4px;
		}

/*/////////////////////////
// Other
/////////////////////////*/
	
	/* Lists */
	
		ul
		{
			list-style-type: disc;
		}
				
		ol
		{	
			list-style-type: decimal;
		}

	/* Quote */

		blockquote,
		q
		{
			quotes: '"' '"';
		}
	
	/* Cursor */
	
		acronym,
		abbr
		{
			cursor: help;
		}
		
		a,
		a:link,
		a:visited,
		a:hover,
		a:active,
		button,
		select,
		optgroup,
		option,
		input,
		label
		{
			cursor: pointer;
		}
		
		
		input[type="text"],
		input[type="password"],
		textarea
		{
			cursor: text;
		}
		
		a[disabled],
		input[disabled],
		textarea[disabled],
		button[disabled],
		select[disabled],		
		a[disabled]:hover,
		input[disabled]:hover,
		textarea[disabled]:hover,
		button[disabled]:hover,
		select[disabled]:hover
		{
			cursor: not-allowed;
		}
	
	/* Webkit appearance */
	
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		button
		{
			-webkit-appearance: none;
		}
	
	/* Other */
				
		.clearFloats
		{
			clear: both;
			
			display: block;
	
			height: 0;
			line-height: 0;
			
			border-width: 0px;
		}
		
		.centered
		{
			width: 960px;
			margin: 0 auto;
			
			position: relative;
			display: block;
		}
		
		.dataTable
		{			
			width: 100%;
			
			border-collapse: separate;
			border-spacing: 0px;
		}
		
		.dataTable th
		{
			color: #252525;
			
			
			background-color: #E1E1E1;
			
			padding: 4px;
			
			font-size: 1.1em;
			
			border-bottom: 1px solid #FFFFFF;
			border-left: 1px solid #FFFFFF;
			
			border-radius: 0px;
		}
				
		.dataTable td
		{
			padding: 5px 3px;
			
			border-style: solid;
			
			border-left-width: 1px;
			border-bottom-width: 1px;
			border-bottom-color: #E1E1E1;
			
			border-radius: 0px;
		}
		
		.dataTable tbody tr:nth-child(odd) td
		{
			background-color: #EEEEEE;
			
			border-left-color: #EAEAEA;
		}
		
		.dataTable tbody tr:nth-child(even) td
		{
			background-color: #FFFFFF;
			
			border-left-color: #FBFBFB;
		}
		
